<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!--Favicons-->
    <link href="/img/FiyiStore/FiyiStore.png" rel="apple-touch-icon" sizes="76x76">
    <link href="/img/FiyiStore/FiyiStore.png" rel="icon" type="image/png">

    <!--Fonts and Icons-->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900|Roboto+Slab:400,700" rel="stylesheet" type="text/css"  />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Round" rel="stylesheet">
    <link href="./assets/css/nucleo-icons.css" rel="stylesheet" />
    <link href="./assets/css/nucleo-svg.css" rel="stylesheet" />
    <link href="./assets/icons/fontawesome-free-6.5.1-web/css/all.css" rel="stylesheet" />
    <!--Plugins-->
    <link href="./assets/vendor/datatables.net-bs4/css/dataTables.bootstrap4.min.css" rel="stylesheet">
    <link href="./assets/vendor/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css" rel="stylesheet">
    <link href="./assets/vendor/datatables.net-select-bs4/css/select.bootstrap4.min.css" rel="stylesheet">
    <link href="./assets/vendor/quill/dist/quill.core.css" rel="stylesheet">
    <link href="./assets/vendor/select2/dist/css/select2.min.css" rel="stylesheet">
    <link href="./assets/vendor/animate.css/animate.min.css" rel="stylesheet"> <!-- For Notify -->
    <!--CSS-->
    <link href="./assets/css/material-kit-pro.css" rel="stylesheet" id="pagestyle-kit" />
    <link href="./assets/css/material-dashboard.css" rel="stylesheet" id="pagestyle-dashboard" />

    <title>@ViewData["Title"] - EmptyProject</title>
</head>
<body>
    
    <!-- Navbar -->
    <div class="container position-sticky z-index-sticky top-0">
        <div class="row">
            <div class="col-12">
                <nav class="navbar navbar-expand-lg navbar-expand-lg blur border-radius-lg top-0 z-index-3 shadow position-absolute mt-4 py-2 start-0 end-0 mx-4 my-3 py-2 start-0 end-0 mx-4">
                    <div class="container-fluid px-0">
                        <NavLink class="navbar-brand font-weight-bolder ms-sm-3 d-none d-md-block"
                                 href=""
                                 rel="tooltip"
                                 title="FiyiStack"
                                 data-placement="bottom">
                            EmptyProject
                        </NavLink>
                        <NavLink class="navbar-brand font-weight-bolder ms-sm-3 d-block d-md-none"
                                 href=""
                                 rel="tooltip"
                                 data-placement="bottom">
                            EmptyProject
                        </NavLink>
                        <NavLink href="Login"
                                 class="btn btn-sm bg-gradient-dark mb-0 ms-auto d-lg-none d-block">
                            Login
                        </NavLink>
                        <button class="navbar-toggler"
                                type="button"
                                data-toggle="collapse"
                                data-target="#navigation-control"
                                aria-controls="navigation-control"
                                aria-expanded="false"
                                aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon mt-2">
                                <span class="navbar-toggler-bar bar1"></span>
                                <span class="navbar-toggler-bar bar2"></span>
                                <span class="navbar-toggler-bar bar3"></span>
                            </span>
                        </button>
                        <div class="collapse navbar-collapse w-100 pt-3 pb-2 py-lg-0"
                             id="navigation-control">
                            <ul class="navbar-nav navbar-nav-hover ms-auto">
                            </ul>
                            <!--LOGIN-->
                            <ul class="navbar-nav d-lg-block d-none">
                                <li class="nav-item">
                                    <a href="Login"
                                       class="btn btn-sm bg-gradient-dark mb-0">
                                        Login
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>

    @RenderBody()

    <footer class="footer pt-5 mt-5">
        <div class="container">
            <div class=" row">
                <div class="col-lg-3 col-12 mb-4 ms-auto">
                    <div>
                        <NavLink href="/">
                            <img src="/img/FiyiStore/FiyiStore.png"
                                 alt="logo"
                                 height="150"
                                 class="d-none d-md-flex">
                        </NavLink>
                    </div>
                    <div class="mt-5">
                        <ul class="d-flex flex-row ms-n3 nav">
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-12 mb-4">
                </div>
                <div class="col-lg-6 col-12 ms-auto mt-4 mt-sm-0">
                </div>
            </div>
        </div>
    </footer>
    
    <!--Core JS Files-->
    <script src="./assets/js/plugins/jquery/dist/jquery.js"></script>
    <script src="./assets/js/core/popper.min.js" type="text/javascript"></script>
    <script src="./assets/js/core/bootstrap.min.js" type="text/javascript"></script>
    <script src="./assets/js/plugins/perfect-scrollbar.min.js"></script>
    <script src="./assets/js/plugins/smooth-scrollbar.min.js"></script>
    <!-- Optional JS -->
    <script src="./assets/vendor/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="./assets/vendor/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="./assets/vendor/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="./assets/vendor/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js"></script>
    <script src="./assets/vendor/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="./assets/vendor/datatables.net-buttons/js/buttons.flash.min.js"></script>
    <script src="./assets/vendor/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="./assets/vendor/datatables.net-select/js/dataTables.select.min.js"></script>
    <script src="./assets/vendor/list.js/dist/list.min.js"></script>
    <script src="./assets/vendor/quill/dist/quill.min.js"></script>
    <script src="./assets/vendor/dropzone/dist/min/dropzone.min.js"></script>
    <script src="./assets/vendor/select2/dist/js/select2.min.js"></script>
    <script src="./assets/vendor/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
    <script src="./assets/vendor/bootstrap-tagsinput/dist/bootstrap-tagsinput.min.js"></script>
    <script src="./assets/vendor/bootstrap-notify/bootstrap-notify.min.js"></script>
    <script src="./assets/js/plugins/typedjs.js"></script>
    <script src="./assets/js/plugins/countup.min.js"></script>
    <script src="./assets/js/plugins/rellax.min.js"></script>
    <script src="./assets/js/plugins/tilt.min.js"></script>
    <script src="./assets/js/plugins/choices.min.js"></script>
    <script src="./assets/js/plugins/parallax.min.js"></script>
    <script src="./assets/js/plugins/nouislider.min.js" type="text/javascript"></script>
    <script src="./assets/js/plugins/anime.min.js" type="text/javascript"></script>
    <script src="./assets/js/material-kit-pro.min.js?v=3.0.3" type="text/javascript"></script>
    <script src="./assets/js/plugins/dragula/dragula.min.js"></script>
    <script src="./assets/js/plugins/jkanban/jkanban.js"></script>

    <script>
        var win = navigator.platform.indexOf('Win') > -1;
        if (win && document.querySelector('#sidenav-scrollbar')) {
            var options = {
                damping: '0.5'
            }
            Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
        }
    </script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>